.Tabela1{
    margin: auto;
    text-align: center;
    border: solid rgb(26, 255, 0);
}
   
  .Tabela1 td{
     border: 1px solid rgb(68, 0, 255);
     background-color: rgb(0, 35, 233);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .Tabela1 th{
background-color: rgb(244, 10, 10);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }








   

    .Tabela2{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela2 td{
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .Tabela2 th{
background-color: rgb(149, 149, 149);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }











    .Tabela3{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela3 td{
    color: blue;
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .Tabela3 th{
        color: blue;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }









   














.Tabela4{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela4 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif; 
        }

    .Tabela4 th{
        
         font-family: Arial, Helvetica, sans-serif;
background-color: rgb(149, 149, 149);

    }

   















    .Tabela5{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela5 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif; 
        }

    .Tabela5 th{
        font-size: larger;
         font-family: Arial, Helvetica, sans-serif;
background-color: rgb(149, 149, 149);

    }
























.Tabela6{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela6 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(255, 102, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        }

    .Tabela6 th{
        
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }































    .Tabela7{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela7 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        }

    .Tabela7 th{
        
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }

































     .Tabela8{
        border: 15px;
    margin: auto;
    text-align: center;
    border: 15px solid rgb(58, 58, 58);
}
   
  .Tabela8 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        }

    .Tabela8 th{
        
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }
































    .Tabela9{
    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela9 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        }

    .Tabela9 th{
        color: red;
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }
































    .Tabela10{

    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela10 td{
    padding: 15px;
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
        }

    .Tabela10 th{
    
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }
































     .Tabela11{

    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela11 td{
    font-style: italic;
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
        }

    .Tabela11 th{
    
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }
































    .Tabela12{

    margin: auto;
    text-align: center;
    border: solid rgb(58, 58, 58);
}
   
  .Tabela12 td{
    
     border: 1px solid rgb(90, 90, 90);
     background-color: rgb(202, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
        }

    .Tabela12 th{
    
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(149, 149, 149);

    }